@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-color: black;
    background-image: url(../assets/img/fondo.jpg);
    background-size: cover;


}
h1 { 
    color: white;
}

.contenido {
    display: flexbox;
    place-items: center;
    place-content: center;
    width: 80%;
    justify-content: center;
    border: 1px solid white;
    margin: 60px 10% 60px 10%;
    padding: 10px 10px 10px 10px;
    background-color: gray;
}
.card-footer {
    font-size: small;
}

#index {
    margin-top: 200px;
    background-color: aqua;
  
}
#firma {
    justify-self: start;
}