{% extends "base.html" %}

{% load static %}

{% block contenido %}
<div class='contenido'>
<p>
<strong>Titulo</strong> {{ object.titulo }}
</p>
<p>
<strong>Subtitulo</strong> {{ object.subtitulo }}
</p>
<p>
<strong>Contenido</strong> {{ object.contenido }}
</p>
<p>
<strong>Autor</strong> {{ object.autor }}
</p>
<p>
<strong>Creado</strong> {{ object.creado }}
</p>
<p>
<strong>Modificado</strong> {{ object.editado }}
</p>
</div>

<button type="button" class="btn btn-secondary">
    <a class="enlace" href="{% url 'editar' articulo.id %}">
        <img src="{% static 'assets\img\icons8-editar-24.png' %}" href="{% url 'listar' %}" width="30" height="30" alt="">
    </a>
</button>
<button type="button" class="btn btn-secondary">
    <a class="enlace" href="{% url 'eliminar' articulo.id %}">
        <img src="{% static 'assets\img\icons8-borrar-24.png' %}" width="30" height="30" alt="">
    </a>
</button>
<button type="button" class="btn btn-secondary">
    <a class="enlace" href="{% url 'listar' %}">
        <img src="{% static 'assets\img\icons8-volver-24.png' %}" width="30" height="30" alt="">
    </a>
</button>

{% endblock contenido %}