{% extends "base.html" %}

{% block contenido %}
<div class="Acerca">
    <img src="..\static\assets\img\fatgandalf.jpg" alt="">
    <div class="childAcerca">
        <h2 align="right">Krom Burrfoot, el autor de esta pagina, y jugador de videojuegos y juegos de mesa. "Quiero ayudar a juntar a la gente que comparte mis gustos con sus pares, para que nuestra comunidad siga creciendo.
            Se que no todos vamos a estar de acuerdo en muchas cosas, pero podes llegar a encontrar amigos que compartan nuestros valores y lleguen a llenar un lugar en nuestro corazon."
        </h2>
    </div>
</div>
{% endblock contenido %}